html {background-color: #689216;}
body {background-color: #879AB9; width:  960px; margin: 20px auto;}

header { padding 20px text-align: center;}

header img{
    display: block;
    margin: 10px auto;
    width: 40%;
}

nav {
    background-color: #D6C55F;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #BD4A2A;
    font-size: 28px;
    margin: 0 20px;
}
nav a:hover {
    color: #BD4A2A
    text-decoration none;
}
main {
    display: block;
    margin: 5px auto;
    width: 35%;
}

footer {
    background-color: #D6C55F;
    text-align: center;
    padding 40px 0
}